body {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
  text-align: center;
}

table {
  margin: 0 auto; 
  border-spacing: 0px 0px; 
}

.cell {
  background: #7b7b7b;
  height: 45px;
  width: 45px; 
  border-radius: 5px; 
  text-align: center;
  cursor: pointer;
  color: white;
}
